@{
<<<<<<< HEAD
	Layout = "~/Views/EMCS/_Layout.cshtml";
	ViewBag.Title = "Commercial Invoice Packing List";
}

@using System.Web.Mvc
@* @Styles.Render("~/Content/EMCS/Custom.css") *@
@*@Styles.Render("~/Content/EMCS/SweetAlert/sweetalert2.min.css")*@
@* <style type="text/css">
	.form-horizontal .control-label {
	text-align: left !important;
	}

	.dropdown-menu.dropdown-menu-right {
	left: 0 !important;
	}

	.btn.dropdown-toggle:after, .navbar .navbar-nav > a.btn.dropdown-toggle:after {
	margin-left: 0 !important;
	}
	</style> *@
@{
	if (ViewBag.AllowDelete)
	{
		<input type="hidden" name="AllowDelete" id="AllowDelete" class="form-control" value="True">
	}
	if (ViewBag.AllowUpdate)
	{
		<input type="hidden" name="AllowUpdate" id="AllowUpdate" class="form-control" value="True">
	}
	if (ViewBag.IsImexUser)
	{
		<input type="hidden" name="IsImexUser" id="IsImexUser" class="form-control" value=true>
	}
}

<div class="!px-8 !pt-8 !pb-2">
	<div class="toolbar">
		@{
			if (ViewBag.AllowCreate)
			{
				<a id="btnCreate" href="/EMCS/CiplForm"
				class="inline-flex btn-grad-orange px-3 py-1 rounded-full text-white hover:shadow-md gap-x-2 items-center text-sm font-medium cursor-pointer">
					<i class="uil uil-plus-circle text-lg"></i><span>Add New</span>
				</a>
				@* <a class="btn btn-success animation-on-hover btn-round" href="/EMCS/CiplForm" id="btnCreate">
					<i class="fa fa-plus"></i> Add New
					</a> *@
			}
		}
		<div id="mySearch" class="search-bar">
			<input name="searchText" class="form-control" type="text" placeholder="Search...">
		</div>
	</div>
	<div class="card">
		<div class="table-responsive">
			<table class="table" id="tableCipl"></table>
		</div>
	</div>
</div>

@* <div class="row">
	<div class="col-md-12">
	<div class="toolbar">
	@{
	if (ViewBag.AllowCreate)
	{
	<a class="btn btn-success animation-on-hover btn-round" href="/EMCS/CiplForm" id="btnCreate">
	<i class="fa fa-plus"></i> Add New
	</a>
	}
	}
	<div class="fa-pull-left" id="mySearch" style="padding-right:2px">
	<input name="searchText" class="form-control" type="text" placeholder="Search..." style="height: 32px;">
	</div>
	</div>
	<div class="card">
	<div class="card-body">
	<div class="table-responsive">
	<table class="table" id="tableCipl"></table>
	</div>
	</div>
	</div>
	</div>
	</div> *@

@Scripts.Render("~/bundles/extention", "~/bundles/bootstrap", "~/bundles/jqueryval")
@section scripts

{
<script src="@Url.Content("~/Scripts.app/EMCS/transaction/Cipl.cshtml.js")"></script>
<script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>
=======
    ViewBag.Title = "Commercial Invoice Packing List";
}

@using System.Web.Mvc
@*@Styles.Render("~/Content/EMCS/SweetAlert/sweetalert2.min.css")*@
<style type="text/css">
    .form-horizontal .control-label {
        text-align: left !important;
    }
</style>
@{
    if (ViewBag.AllowDelete)
    {
        <input type="hidden" name="AllowDelete" id="AllowDelete" class="form-control" value="True">
    }

    if (ViewBag.AllowUpdate)
    {
        <input type="hidden" name="AllowUpdate" id="AllowUpdate" class="form-control" value="True">
    }

}

<div class="row">
    <div class="col-md-12">
        <div class="toolbar">
            @{
                if (ViewBag.AllowCreate)
                {
                    <a class="btn btn-warning" href="/EMCS/CiplForm" id="btnCreate">
                        <i class="fa fa-plus"></i> Add New
                    </a>
                }
            }
            <div class="fa-pull-left" id="mySearch" style="padding-right:2px">
                <input name="searchText" class="form-control" type="text" placeholder="Search..." style="height: 32px;">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="tableCipl"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts

{
    <script src="@Url.Content("~/Scripts.app/EMCS/transaction/Cipl.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>
>>>>>>> 639d8d0 (Intial commit)


}