@model  App.Web.Models.EMCS.BlAwbModel
@{
    ViewBag.Title = "Create Bl Awb";
<<<<<<< HEAD
    Layout = "~/Views/EMCS/_Layout.cshtml";
=======
>>>>>>> 639d8d0 (Intial commit)
}

@Styles.Render("~/Content/EMCS/Custom.css")
@Styles.Render("~/Content/EMCS/SweetAlert/sweetalert2.min.css")
<style>
    .help-block {
        color: #a94442;
        display: inline;
        font-weight: bolder;
    }
<<<<<<< HEAD

    .input-group-addon {
        width: 50px;
        background: #00C0EF;
        border-color: #00ACD6;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 0px 0.4285rem 0.4285rem 0px;
    }
    .tabs {
        font-size: 15px;
        padding: 0px;
        list-style: none;
        background: #fff;
        box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
        display: inline-block;
        border-radius: 50px;
        position: relative;
    }

        .tabs a {
            text-decoration: none;
            color: #777;
            padding: 10px 20px;
            display: inline-block;
            position: relative;
            z-index: 1;
            transition-duration: 0.6s;
        }

            .tabs a.active {
                color: #fff;
            }

            .tabs a i {
                margin-right: 5px;
            }

        .tabs .selector {
            height: 100%;
            display: inline-block;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 1;
            border-radius: 50px;
            transition-duration: 0.6s;
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            background: #05abe0;
            background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
            background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
            background: linear-gradient(20deg, #fe9d01 60%,#FFD38A 83%);
            box-shadow: 3px 5px #a8a8a8;
        }
=======
>>>>>>> 639d8d0 (Intial commit)
</style>
<div class="col-md-12">
    <div class="tab" role="tabpanel" style="box-shadow:none !important;background:none;">
        <!-- Nav tabs -->
<<<<<<< HEAD
        <nav class="tabs mb-4">
            <div class="selector"></div>
            <a style="z-index:5" class="active" href="#invoice" aria-controls="home" role="tab" data-toggle="tab">BL / AWB </a>
            <a style="z-index:4" href="#history" aria-controls="profile" role="tab" data-toggle="tab">Action History</a>
            <a style="z-index:3" href="#problemhistory" aria-controls="profile" role="tab" data-toggle="tab">Problem History</a>
        </nav>
        <div class="tab-content tabs-custom">
            <div role="tabpanel" class="tab-pane active" id="invoice">
                <form id="FormUploadBlAwb">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group hide">
                                        <label class="control-label col-lg-4 col-xs-4">ID</label>
                                        <div class="col-lg-10 col-xs-10">
                                            <input type="text" class="form-control" id="CargoID" name="CargoID" value="@Model.Data.Id" disabled>
                                            @Html.TextBoxFor(m => m.BlAwb.Id, new { @class = "form-control disabled", @id = "BLAWBID" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-4 col-xs-4">Master BL Number</label>
                                        <div class="col-xs-10 col-lg-10">
                                            @Html.TextBoxFor(m => m.BlAwb.Number, new { @class = "form-control", @id = "Number", @placeholder = "Bl Awb Number", @name = "Number" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-4 col-xs-4">Master BL Date</label>
                                        <div class="input-group col-xs-10 col-lg-10">
                                            @Html.TextBoxFor(m => m.BlAwb.MasterBlDate, new { @class = "form-control date", @id = "MasterBlDate", @placeholder = "Master BL Date ", @name = "MasterBlDate" })
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-4 col-xs-4">House BL Number</label>
                                        <div class="col-xs-10 col-lg-10">
                                            @Html.TextBoxFor(m => m.BlAwb.HouseBlNumber, new { @class = "form-control required", @id = "HouseBlNumber", @placeholder = "House BL Number", @name = "HouseBlNumber" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-4 col-xs-4">House BL Date</label>
                                        <div class="input-group col-xs-10 col-lg-10">
                                            @Html.TextBoxFor(m => m.BlAwb.HouseBlDate, new { @class = "form-control date required", @id = "HouseBlDate", @placeholder = "House BL Date", @name = "HouseBlDate" })
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-4 col-xs-4">Publisher</label>
                                        <div class=" col-xs-10 col-lg-10">
                                            @Html.TextBoxFor(m => m.BlAwb.Publisher, new { @class = "form-control required", @id = "Publisher", @placeholder = "Publisher", @name = "Publisher" })
                                        </div>
                                    </div>
                                    <div class="form-group hide">
                                        <label class="control-label col-lg-4 col-xs-4" id="cc_num">Description</label>
                                        <div class="input-group col-lg-8 col-xs-8">
                                            @Html.TextAreaFor(m => m.BlAwb.Description, new { @class = "form-control required", @id = "Description", @placeholder = "Description", @name = "Description" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <table style="width:100%" border="0" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="height:40px;vertical-align:middle;text-align:center;width:70%">Name</th>
                                                <th style="height:40px;vertical-align:middle;text-align:center;width: 30%;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="trCompleteDoc">
                                                <td>
                                                    <div class="form-group div-mandatory">
                                                        <label class="control-label" id="label-document-SK"><strong>BL / AWB Document</strong></label>
                                                        <input type="text" class="hide do-not-ignore" name="UrlDocumentDOC" id="url-document-DOC" required />
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-info btn-link btn-xs dz-clickable" id="document-DOC" type="button" data-toggle="tooltip" title="Upload!"><i class="tim-icons icon-cloud-upload-94"></i></button>
                                                    <button class="btn btn-default btn-xs btn-link preview-document" id="preview-document-DOC" type="button" data-toggle="tooltip" title="View Document!"><i class="tim-icons icon-zoom-split"></i></button>
                                                    <a href="#" class="btn btn-success btn-xs btn-link DownloadDocument" id="download-document-DOC" type="button" target="_blank" data-toggle="tooltip" title="Download!"><i class="tim-icons icon-cloud-download-93"></i></a>
                                                    <div id="previews">
                                                        <div id="template" class="template file-row dz-image-preview">
                                                            <div>
                                                                <p class="name" data-dz-name=""></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <iframe title="Document Show" id="DocumentShow" src="" style="width:100%;height:550px"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer mt-20 text-right">
                            @if (!ViewBag.CanRequestForChange)
                        {
                            <a href="~/EMCS/MyTask" class="btn btn-warning btn-round" style="min-width:120px;"><i class="fa fa-chevron-left"></i>&nbsp;Back</a>
                            <button id="SaveDocumentBlAwb" type="button" class="btn btn-success btn-round" value="Submit" style="min-width:120px;"><i class="fa fa-save"></i>&nbsp;Submit</button>
                        }
                        else
                        {
                            <a href="~/EMCS/BLAWBList" class="btn btn-primary btn-round" style="min-width:120px;"><i class="fa fa-chevron-left"></i>&nbsp;Back</a>
                            <button id="RequestForChange" type="button" class="btn btn-info btn-round" style="min-width:120px;"><i class="fa fa-paper-plane"></i>&nbsp;Request for change</button>
                        }
                        </div>
=======
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a style="z-index:5" href="#invoice" aria-controls="home" role="tab" data-toggle="tab">BL / AWB </a>
            </li>
            <li role="presentation">
                <a style="z-index:4" href="#history" aria-controls="profile" role="tab" data-toggle="tab">Action History</a>
            </li>
            <li role="presentation">
                <a style="z-index:3" href="#problemhistory" aria-controls="profile" role="tab" data-toggle="tab">Problem History</a>
            </li>
        </ul>

        <div class="tab-content tabs-custom">
            <div role="tabpanel" class="tab-pane active" id="invoice">
                <form id="FormUploadBlAwb">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group hide">
                                    <label class="control-label col-lg-4 col-xs-4">ID</label>
                                    <div class="input-group col-lg-8 col-xs-8">
                                        <input type="text" class="form-control" id="CargoID" name="CargoID" value="@Model.Data.Id" disabled>
                                        @Html.TextBoxFor(m => m.BlAwb.Id, new { @class = "form-control disabled", @id = "BLAWBID" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-xs-4">Master BL Number</label>
                                    <div class="input-group col-xs-8 col-lg-8">
                                        @Html.TextBoxFor(m => m.BlAwb.Number, new { @class = "form-control", @id = "Number", @placeholder = "Bl Awb Number", @name = "Number" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-xs-4">Master BL Date</label>
                                    <div class="input-group col-xs-8 col-lg-8">
                                        @Html.TextBoxFor(m => m.BlAwb.MasterBlDate, new { @class = "form-control date", @id = "MasterBlDate", @placeholder = "Master BL Date ", @name = "MasterBlDate" })
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-xs-4">House BL Number</label>
                                    <div class="input-group col-xs-8 col-lg-8">
                                        @Html.TextBoxFor(m => m.BlAwb.HouseBlNumber, new { @class = "form-control required", @id = "HouseBlNumber", @placeholder = "House BL Number", @name = "HouseBlNumber" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-xs-4">House BL Date</label>
                                    <div class="input-group col-xs-8 col-lg-8">
                                        @Html.TextBoxFor(m => m.BlAwb.HouseBlDate, new { @class = "form-control date required", @id = "HouseBlDate", @placeholder = "House BL Date", @name = "HouseBlDate" })
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-xs-4">Publisher</label>
                                    <div class="input-group col-xs-8 col-lg-8">
                                        @Html.TextBoxFor(m => m.BlAwb.Publisher, new { @class = "form-control required", @id = "Publisher", @placeholder = "Publisher", @name = "Publisher" })
                                    </div>
                                </div>
                                <div class="form-group hide">
                                    <label class="control-label col-lg-4 col-xs-4" id="cc_num">Description</label>
                                    <div class="input-group col-lg-8 col-xs-8">
                                        @Html.TextAreaFor(m => m.BlAwb.Description, new { @class = "form-control required", @id = "Description", @placeholder = "Description", @name = "Description" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <table style="width:100%" border="0" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="height:40px;vertical-align:middle;text-align:center;width:80%">Name</th>
                                            <th style="height:40px;vertical-align:middle;text-align:center;width: 20%;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="trCompleteDoc">
                                            <td>
                                                <div class="form-group div-mandatory">
                                                    <label class="control-label" id="label-document-SK"><strong>BL / AWB Document</strong></label>
                                                    <input type="text" class="hide do-not-ignore" name="UrlDocumentDOC" id="url-document-DOC" required />
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <button class="btn btn-info btn-xs dz-clickable" id="document-DOC" type="button" data-toggle="tooltip" title="Upload!"><i class="fa fa-upload"></i></button>
                                                <button class="btn btn-default btn-xs preview-document" id="preview-document-DOC" type="button" data-toggle="tooltip" title="View Document!"><i class="fa fa-search"></i></button>
                                                <a href="#" class="btn btn-success btn-xs DownloadDocument" id="download-document-DOC" type="button" target="_blank" data-toggle="tooltip" title="Download!"><i class="fa fa-download"></i></a>
                                                <div id="previews">
                                                    <div id="template" class="template file-row dz-image-preview">
                                                        <div>
                                                            <p class="name" data-dz-name=""></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <iframe title="Document Show" id="DocumentShow" src="" style="width:100%;height:550px"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer text-right">
                        <a href="~/EMCS/MyTask" class="btn btn-default" style="min-width:120px;"><i class="fa fa-chevron-left"></i>&nbsp;Back</a>
                        <button id="SaveDocumentBlAwb" type="button" class="btn btn-success" value="Submit" style="min-width:120px;"><i class="fa fa-save"></i>&nbsp;Submit</button>
>>>>>>> 639d8d0 (Intial commit)
                    </div>
                </form>
            </div>

            <div role="tabpanel" class="tab-pane" id="history">
<<<<<<< HEAD
                <div class="col-md-12">
                    <div class="box">
                        <div class="col-xs-12 table-responsive">
                            <input type="hidden" name="idCargo" id="idCargo" value="@Model.Data.Id" />
                            <table id="tableCargoHistory" data-toolbar=".toolbar" class="table table-bordered"></table>
                        </div>
=======
                <div class="row">
                    <div class="col-xs-12 table-responsive">
                        <input type="hidden" name="idCargo" id="idCargo" value="@Model.Data.Id" />
                        <table id="tableCargoHistory" data-toolbar=".toolbar" class="table table-bordered"></table>
>>>>>>> 639d8d0 (Intial commit)
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="problemhistory">
<<<<<<< HEAD
                <div class="col-md-12">
                    <div class="box">
                        <div class="col-xs-12 table-responsive">
                            <table id="tableCargoProblemHistory" data-toolbar=".toolbar" class="table table-bordered"></table>
                        </div>
=======
                <div class="row">
                    <div class="col-xs-12 table-responsive">
                        <table id="tableCargoProblemHistory" data-toolbar=".toolbar" class="table table-bordered"></table>
>>>>>>> 639d8d0 (Intial commit)
                    </div>
                </div>
            </div>

            @*<div role="tabpanel" class="tab-pane" id="documents">
<<<<<<< HEAD
            <div class="col-md-12">
            <div class="box">
                    <div class="col-xs-12 table-responsive">
                        <table id="tableCargoDocuments" data-toolbar=".toolbar" class="table table-bordered"></table>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>
</div>
=======
                    <div class="row">
                        <div class="col-xs-12 table-responsive">
                            <table id="tableCargoDocuments" data-toolbar=".toolbar" class="table table-bordered"></table>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>
>>>>>>> 639d8d0 (Intial commit)
@section scripts{
    <script src="@Url.Content("~/Content/EMCS/DropZone/dropzone.js")"></script>
    <script src="@Url.Content("~/Content/EMCS/SweetAlert/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>
    @Scripts.Render("~/Scripts.app/EMCS/function.cshtml.js")
    <script src="@Url.Content("~/Scripts.app/EMCS/transaction/CargoHistory.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/mytask/BlAwb.cshtml.js")"></script>
    <script>
        $("#FormUploadBlAwb").validate({
            onkeyup: false,
            errorClass: "error",
            ignore: ':hidden:not(.do-not-ignore)',

            //put error message behind each form element
            errorPlacement: function (error, element) {
                if (element.hasClass("select2") && element.hasClass("input-validation-error")) {
                    element.next("span").addClass("input-validation-error");
                } else if (element.hasClass("select2-hidden-accessible")) {
                    error.insertAfter(element.parent('span.select2'));
                }
            },
            errorElement: 'span',
            onError: function () {
                $('.input-group.error').find('.help-block.form-error').each(function () {
                    $(this).closest('.form-group').addClass('error-class').append($(this));
                });
            },
            highlight: function (element, errorClass, valCargoIDass) {
                $(element).addClass(errorClass); //.removeClass(errorClass);
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            //When removing make the same adjustments as when adding
            unhighlight: function (element, errorClass, valCargoIDass) {
                $(element).removeClass(errorClass); //.addClass(valCargoIDass);
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                $(element).next("span").removeClass("input-validation-error");
            },
        });
<<<<<<< HEAD
        $("#RequestForChange").click(function () {
            Swal.fire({
                title: 'Request this change?',
                text: 'By approving this changes, you are responsible for the authenticity of the documents and data entered. Are you sure you want to process this request of change?',
                type: 'question',
                showCancelButton: true,
                cancelButtonColor: '#d33',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Yes, Request!',
                allowEscapeKey: false,
                allowOutsideClick: false,
                showCloseButton: true
            }).then((result) => {
                if (result.value) {
                    Swal.fire({
                        input: 'textarea',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        inputPlaceholder: 'Please add reason for this request for change...',
                        inputAttributes: {
                            'aria-label': 'Please add reason for this request for change...'
                        },
                        showCancelButton: false
                    }).then((result) => {
                        if (result.value !== '') {
                            var Notes = result.value;
                            $.ajax({
                                url: '/EMCS/RequestForChangeBlAwb',
                                type: 'POST',
                                data: {
                                    Id: $('#BLAWBID').val(),
                                    IdCl: $('#CargoID').val(),
                                    Number: $('#Number').val(),
                                    MasterBlDate: $('#MasterBlDate').val(),
                                    HouseBlNumber: $('#HouseBlNumber').val(),
                                    HouseBlDate: $('#HouseBlDate').val(),
                                    Publisher: $('#Publisher').val(),
                                    Description: $('#Description').val(),
                                    Reason: result.value
                                },
                                cache: false,
                                async: false,
                                success: function (data, response) {
                                    Swal.fire({
                                        title: 'Submit!',
                                        text: 'Data Confirmed Successfully',
                                        type: 'success'
                                    }).then((result) => {
                                        window.location.href = "/EMCS/MyTask";
                                    });
                                },
                                error: function (e) {
                                    Swal.fire({
                                        type: 'error',
                                        title: 'Oops...',
                                        text: 'Something went wrong! Fail Submit Data',
                                    })
                                }
                            })


                        }
                        else {
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Please add request for change reason',
                            })
                        }
                    });
                }
                return false;
            });
        });
=======

>>>>>>> 639d8d0 (Intial commit)
        $('#SaveDocumentBlAwb').click(function (e) {
            e.preventDefault();
            var isValid = $("#FormUploadBlAwb").valid();
            if (isValid) {
                Swal.fire({
                    title: "Are you sure want to submit this data?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Submit it!'
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: '/EMCS/DraftBlAwb',
                            type: 'POST',
                            data: {
                                Id: $('#BLAWBID').val(),
                                IdCl: $('#CargoID').val(),
                                Number: $('#Number').val(),
                                MasterBlDate: $('#MasterBlDate').val(),
                                HouseBlNumber: $('#HouseBlNumber').val(),
                                HouseBlDate: $('#HouseBlDate').val(),
                                Publisher: $('#Publisher').val(),
                                Description: $('#Description').val(),
<<<<<<< HEAD
=======

>>>>>>> 639d8d0 (Intial commit)
                                Status: $(this).val()
                            },
                            cache: false,
                            async: false,
                            success: function (data, response) {
                                Swal.fire({
                                    title: 'Submit!',
                                    text: 'Data Confirmed Successfully',
                                    type: 'success'
                                }).then((result) => {
                                    window.location.href = "/EMCS/MyTask";
                                });
                            },
                            error: function (e) {
                                Swal.fire({
                                    type: 'error',
                                    title: 'Oops...',
                                    text: 'Something went wrong! Fail Submit Data',
                                })
                            }
                        })

                    }
                })

            } else {
                Swal.fire("Attention!", "Please complete all required field in this form and please complete all document required before submit! Thanks", "error");
            }
        });
    </script>
<<<<<<< HEAD
}

<script>
    var tabs = $('.tabs');
    var selector = $('.tabs').find('a').length;
    //var selector = $(".tabs").find(".selector");
    var activeItem = tabs.find('.active');
    var activeWidth = activeItem.innerWidth();
    $(".selector").css({
        "left": activeItem.position.left + "px",
        "width": activeWidth + "px"
    });

    $(".tabs").on("click", "a", function (e) {
        e.preventDefault();
        $('.tabs a').removeClass("active");
        $(this).addClass('active');
        var activeWidth = $(this).innerWidth();
        var itemPos = $(this).position();
        $(".selector").css({
            "left": itemPos.left + "px",
            "width": activeWidth + "px"
        });
    });
</script>
=======
}
>>>>>>> 639d8d0 (Intial commit)
