<<<<<<< HEAD
﻿@{
  Layout = "~/Views/EMCS/_Layout.cshtml";
  ViewBag.Title = "Export Transactions";
}
<style>
  .card-chart .dropdown {
    position: absolute;
    right: 60px;
    top: 15px;
  }

  .dropdown-menu.dropdown-menu-right {
    left: 0 !important;
  }

  .btn.dropdown-toggle:after,
  .navbar .navbar-nav>a.btn.dropdown-toggle:after {
    margin-left: 0 !important;
  }
</style>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div class="!px-8 !pt-8 !pb-2">
  <div class="grid grid-cols-3 gap-4 mb-8">
    <div class="card card-chart col-span-2">
      <div class="card-header hidden">
        <div class="pull-right">
          <div class="pull-right" style="padding:0px;margin-left:2px;">
            <button class="btn btn-secondary" onclick="TotalExportDownload()"><i class="fa fa-file-excel"></i></button>
          </div>
          <div class="dropdown pull-right">
            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:5px;">
              <i class="fa fa-th"></i>
            </button>
            <ul id="TotalExportFilter" class="dropdown-menu keep-open" aria-labelledby="dropdownMenuButton"
              style="width:200px;z-index:1">
              <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                <div class="row">
                  <div class="col-md-12">
                    <label class="control-label">Year</label>
                    <input class="form-control" id="TotalExportYear" placeholder="Please Choose Year"
                      readonly="readonly" style="background:white;">
                  </div>
                </div>
              </li>
              <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-default btn-sm" onclick="TotalExportSearch()" style="width:100%;"><i
                        class="fa fa-search"></i>&nbsp;Filter</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="!pt-4 !pl-4 !pr-20 !pb-2">
        <h3 class="text-sm font-bold uppercase text-slate-500">Total Export Transaction</h3>
      </div>
      <div class="w-full px-2 pb-4">
        <div id="container" class="flex flex-col gap-y-4">
          <div class="loading-spinner p-4" role="status">
            <div class="w-full flex items-center justify-center">
              <div
                class="[&>svg]:w-8 [&>svg]:h-8 [&>svg]:text-gray-200 [&>svg]:animate-spin [&>svg]:dark:text-gray-600 [&>svg]:fill-amber-400">
                @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/Assets/img/spinner.svg")))
              </div>
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-chart">
      <div class="card-header hidden">
        <div class="pull-right">
          <div class="pull-right" style="padding:0px;margin-left:2px;">
            <button class="btn btn-secondary" onclick="ExportByCategoryDownload()"><i
                class="fa fa-file-excel"></i></button>
          </div>
          <div class="dropdown pull-right">
            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:5px;">
              <i class="fa fa-th"></i>
            </button>
            <ul id="ExportByCategoryFilter" class="dropdown-menu keep-open" aria-labelledby="dropdownMenuButton"
              style="width:200px;z-index:1">
              <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                <div class="row">
                  <div class="col-md-12">
                    <label class="control-label">Interval</label>
                    <select class="pull-right select2 form-control" id="ExportByCategoryYearInterval"></select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label class="control-label">Start Year</label>
                    <input class="form-control" id="ExportByCategoryStartYear" placeholder="Please Choose Start Year"
                      readonly="readonly" style="background:white;">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label class="control-label">End Year</label>
                    <input class="form-control" id="ExportByCategoryEndYear" placeholder="End Year" readonly="readonly"
                      style="background:white;">
                  </div>
                </div>
              </li>
              <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-default btn-sm" onclick="ExportByCategorySearch()" style="width:100%;"><i
                        class="fa fa-search"></i>&nbsp;Filter</button>
                  </div>
                </div>
              </li>
            </ul>

          </div>
        </div>
      </div>
      <div class="!pt-4 !pl-4 !pr-20 !pb-2">
        <h3 class="text-sm font-bold uppercase text-slate-500">Export By Category</h3>
      </div>
      <div class="w-full px-2 pb-4">
        <div id="container_trend_pie" class="flex flex-col gap-y-4">
          <div class="loading-spinner p-4" role="status">
            <div class="w-full flex items-center justify-center">
              <div
                class="[&>svg]:w-8 [&>svg]:h-8 [&>svg]:text-gray-200 [&>svg]:animate-spin [&>svg]:dark:text-gray-600 [&>svg]:fill-amber-400">
                @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/Assets/img/spinner.svg")))
              </div>
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-chart">
      <div class="card-header hidden">
        <div class="pull-right">
          <div class="pull-right" style="padding:0px;margin-left:2px;">
            <button class="btn btn-secondary" onclick="SalesVSNonSalesDownload()"><i
                class="fa fa-file-excel"></i></button>
          </div>
          <div class="dropdown pull-right">
            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:5px;">
              <i class="fa fa-th"></i>
            </button>
            <ul id="SalesVSNonSalesFilter" class="dropdown-menu keep-open" aria-labelledby="dropdownMenuButton"
              style="width:200px;z-index:1">
              <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                <div class="row">
                  <div class="col-md-12">
                    <label class="control-label">Start Year</label>
                    <input class="form-control" id="SalesVSNonSalesStartYear" placeholder="Please Choose Start Year"
                      readonly="readonly" style="background:white;">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label class="control-label">End Year</label>
                    <input class="form-control" id="SalesVSNonSalesEndYear" placeholder="End Year" readonly="readonly"
                      style="background:white;">
                  </div>
                </div>
              </li>
              <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-default btn-sm" onclick="SalesVSNonSalesSearch()" style="width:100%;"><i
                        class="fa fa-search"></i>&nbsp;Filter</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="!pt-4 !pl-4 !pr-20 !pb-2">
        <h3 class="text-sm font-bold uppercase text-slate-500">Sales VS Non Sales</h3>
      </div>
      <div class="w-full px-2 py-4">
        <div id="container_compare_sales" class="flex flex-col gap-y-4">
          <div class="loading-spinner p-4" role="status">
            <div class="w-full flex items-center justify-center">
              <div
                class="[&>svg]:w-8 [&>svg]:h-8 [&>svg]:text-gray-200 [&>svg]:animate-spin [&>svg]:dark:text-gray-600 [&>svg]:fill-amber-400">
                @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/Assets/img/spinner.svg")))
              </div>
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-chart">
      <div class="card-header hidden">
        <div class="pull-right">
          <div class="pull-right" style="padding:0px;margin-left:2px;">
            <button class="btn btn-secondary" id="btn-big-5-commodities-download"><i
                class="fa fa-file-excel"></i></button>
          </div>
          <div class="dropdown pull-right">

            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:5px;">
              <i class="fa fa-cog"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="ul-big-5-commodities">
              <form class="form-horizontal" id="form-export-today">
                <li style="padding:5px;border-bottom:1px solid #ebe6e6;width:200px;">
                  <div class="input-group col-lg-12 col-xs-12">
                    <input type="text" class="form-control year required" id="date1-export-type" name="dateCipl"
                      placeholder="Start Date" autocomplete="off">
                    <div class="input-group-addon cal" style="background:#00C0EF;border-color:#00ACD6;">
                      <i class="fa fa-calendar" style="color:#FFFFFF;"></i>
                    </div>
                  </div>
                </li>
                <li style="padding:5px;border-bottom:1px solid #ebe6e6;width:200px;">
                  <div class="input-group col-lg-12 col-xs-12">
                    <select class="pull-right select2 form-control required" id="slc-export-type">
                      <option value=>Sales & Non Sales</option>
                      <option value="Sales">Sales</option>
                      <option value="Non Sales">Non Sales</option>

                    </select>
                  </div>
                </li>
                <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                  <button class="btn btn-success btn-sm" style="width:100%;"><i
                      class="fa fa-search"></i>&nbsp;Filter</button>
                </li>
              </form>
            </ul>

          </div>
        </div>
      </div>
      <div class="!pt-4 !pl-4 !pr-20 !pb-2">
        <h3 class="text-sm font-bold uppercase text-slate-500">5 Biggest Commodities</h3>
      </div>
      <div class="w-full px-2 py-4">
        <div id="container_bigest" class="flex flex-col gap-y-4">
          <div class="loading-spinner p-4" role="status">
            <div class="w-full flex items-center justify-center">
              <div
                class="[&>svg]:w-8 [&>svg]:h-8 [&>svg]:text-gray-200 [&>svg]:animate-spin [&>svg]:dark:text-gray-600 [&>svg]:fill-amber-400">
                @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/Assets/img/spinner.svg")))
              </div>
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-chart">
      <div class="card-header hidden">
        <div class="pull-right">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="TrendExportButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-th"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="TrendExportButton">
              <ul id="TrendExportFilter" class="dropdown-menu" style="width:200px;">
                <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                  <div class="row">
                    <div class="col-md-12">
                      <label class="control-label">Interval</label>
                      <select class="pull-right select2 form-control" id="TrendExportYearInterval"></select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="control-label">Start Year</label>
                      <input class="form-control" id="TrendExportStartYear" placeholder="Please Choose Start Year"
                        readonly="readonly" style="background:white;">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="control-label">End Year</label>
                      <input class="form-control" id="TrendExportEndYear" placeholder="End Year" readonly="readonly"
                        style="background:white;">
                    </div>
                  </div>
                </li>
                <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                  <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn-default btn-sm" onclick="TrendExportSearch()" style="width:100%;"><i
                          class="fa fa-search"></i>&nbsp;Filter</button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="pull-right" style="padding:0px;margin-left:2px;">
            <button class="btn btn-secondary btn-md" onclick="TrendExportDownload()"><i
                class="fa fa-file-excel"></i></button>
          </div>
          <div class="dropdown">


          </div>
        </div>
      </div>
      <div class="!pt-4 !pl-4 !pr-20 !pb-2">
        <h3 class="text-sm font-bold uppercase text-slate-500">Trend Export</h3>
      </div>
      <div class="w-full px-2 py-4 hidden">
        <div id="container_trend" class="flex flex-col gap-y-4">
          <div class="loading-spinner p-4" role="status">
            <div class="w-full flex items-center justify-center">
              <div
                class="[&>svg]:w-8 [&>svg]:h-8 [&>svg]:text-gray-200 [&>svg]:animate-spin [&>svg]:dark:text-gray-600 [&>svg]:fill-amber-400">
                @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/Assets/img/spinner.svg")))
              </div>
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row hidden">
    <div class="col-md-6 col-sm-12 pull-left">
      <div class="card card-chart">
        <div class="card-header">
          <div class="pull-right">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="TrendExportButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-th"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="TrendExportButton">
                <ul id="TrendExportFilter" class="dropdown-menu" style="width:200px;">
                  <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                    <div class="row">
                      <div class="col-md-12">
                        <label class="control-label">Interval</label>
                        <select class="pull-right select2 form-control" id="TrendExportYearInterval"></select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <label class="control-label">Start Year</label>
                        <input class="form-control" id="TrendExportStartYear" placeholder="Please Choose Start Year"
                          readonly="readonly" style="background:white;">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <label class="control-label">End Year</label>
                        <input class="form-control" id="TrendExportEndYear" placeholder="End Year" readonly="readonly"
                          style="background:white;">
                      </div>
                    </div>
                  </li>
                  <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                    <div class="row">
                      <div class="col-md-12">
                        <button class="btn btn-default btn-sm" onclick="TrendExportSearch()" style="width:100%;"><i
                            class="fa fa-search"></i>&nbsp;Filter</button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="pull-right" style="padding:0px;margin-left:2px;">
              <button class="btn btn-secondary btn-md" onclick="TrendExportDownload()"><i
                  class="fa fa-file-excel"></i></button>
            </div>
            <div class="dropdown">


            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="container_trend"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 pull-left">
      <div class="card card-chart">
        <div class="card-header">
          <div class="pull-right">
            <div class="pull-right" style="padding:0px;margin-left:2px;">
              <button class="btn btn-secondary" id="btn-big-5-commodities-download"><i
                  class="fa fa-file-excel"></i></button>
            </div>
            <div class="dropdown pull-right">

              <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:5px;">
                <i class="fa fa-cog"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="ul-big-5-commodities">
                <form class="form-horizontal" id="form-export-today">
                  <li style="padding:5px;border-bottom:1px solid #ebe6e6;width:200px;">
                    <div class="input-group col-lg-12 col-xs-12">
                      <input type="text" class="form-control year required" id="date1-export-type" name="dateCipl"
                        placeholder="Start Date" autocomplete="off">
                      <div class="input-group-addon cal" style="background:#00C0EF;border-color:#00ACD6;">
                        <i class="fa fa-calendar" style="color:#FFFFFF;"></i>
                      </div>
                    </div>
                  </li>
                  <li style="padding:5px;border-bottom:1px solid #ebe6e6;width:200px;">
                    <div class="input-group col-lg-12 col-xs-12">
                      <select class="pull-right select2 form-control required" id="slc-export-type">
                        <option value=>Sales & Non Sales</option>
                        <option value="Sales">Sales</option>
                        <option value="Non Sales">Non Sales</option>

                      </select>
                    </div>
                  </li>
                  <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                    <button class="btn btn-success btn-sm" style="width:100%;"><i
                        class="fa fa-search"></i>&nbsp;Filter</button>
                  </li>
                </form>
              </ul>

            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="container_bigest"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 pull-left">
      <div class="card card-chart">
        <div class="card-header">
          <div class="pull-right">
            <div class="pull-right" style="padding:0px;margin-left:2px;">
              <button class="btn btn-secondary" onclick="SalesVSNonSalesDownload()"><i
                  class="fa fa-file-excel"></i></button>
            </div>
            <div class="dropdown pull-right">
              <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:5px;">
                <i class="fa fa-th"></i>
              </button>
              <ul id="SalesVSNonSalesFilter" class="dropdown-menu keep-open" aria-labelledby="dropdownMenuButton"
                style="width:200px;z-index:1">
                <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                  <div class="row">
                    <div class="col-md-12">
                      <label class="control-label">Start Year</label>
                      <input class="form-control" id="SalesVSNonSalesStartYear" placeholder="Please Choose Start Year"
                        readonly="readonly" style="background:white;">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="control-label">End Year</label>
                      <input class="form-control" id="SalesVSNonSalesEndYear" placeholder="End Year" readonly="readonly"
                        style="background:white;">
                    </div>
                  </div>
                </li>
                <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                  <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn-default btn-sm" onclick="SalesVSNonSalesSearch()" style="width:100%;"><i
                          class="fa fa-search"></i>&nbsp;Filter</button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="container_compare_sales"></div>
        </div>
      </div>
    </div>
    <div class="col-md-12 pull-left">

    </div>
  </div>
</div>

@Scripts.Render("~/bundles/extention", "~/bundles/bootstrap", "~/bundles/jqueryval")

@section scripts
{
<script src="@Url.Content("~/Scripts.app/EMCS/report/ExportActivity.cshtml.js")"></script>
<script src="@Url.Content("~/Scripts.app/EMCS/highcharts/highchart.js")"></script>
<script src="@Url.Content("~/Scripts.app/EMCS/highcharts/highcharts-3d.js")"></script>
<script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>
=======
﻿
@{
    Layout = "~/Views/EMCS/_Layout.cshtml";
    ViewBag.Title = "Export Transactions";
}
<style>
    .card-chart .dropdown {
        position: absolute;
        right: 60px;
        top: 15px;
    }
    .dropdown-menu.dropdown-menu-right {
        left: 0 !important;
    }
    .btn.dropdown-toggle:after, .navbar .navbar-nav > a.btn.dropdown-toggle:after {
        margin-left: 0 !important;
    }
</style>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div class="row">
    <div class="col-md-6 col-sm-12 pull-left">
        <div class="card card-chart">
            <div class="card-header">
                <div class="pull-right">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="TrendExportButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-th"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="TrendExportButton">
                            <ul id="TrendExportFilter" class="dropdown-menu" style="width:200px;">
                                <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label">Interval</label>
                                            <select class="pull-right select2 form-control" id="TrendExportYearInterval"></select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label">Start Year</label>
                                            <input class="form-control" id="TrendExportStartYear" placeholder="Please Choose Start Year" readonly="readonly" style="background:white;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label">End Year</label>
                                            <input class="form-control" id="TrendExportEndYear" placeholder="End Year" readonly="readonly" style="background:white;">
                                        </div>
                                    </div>
                                </li>
                                <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-default btn-sm" onclick="TrendExportSearch()" style="width:100%;"><i class="fa fa-search"></i>&nbsp;Filter</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pull-right" style="padding:0px;margin-left:2px;">
                        <button class="btn btn-secondary btn-md" onclick="TrendExportDownload()"><i class="fa fa-file-excel"></i></button>
                    </div>
                    <div class="dropdown">


                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="container_trend"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 pull-left">
        <div class="card card-chart">
            <div class="card-header">
                <div class="pull-right">
                    <div class="pull-right" style="padding:0px;margin-left:2px;">
                        <button class="btn btn-secondary" onclick="ExportByCategoryDownload()"><i class="fa fa-file-excel"></i></button>
                    </div>
                    <div class="dropdown pull-right">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:5px;">
                            <i class="fa fa-th"></i>
                        </button>
                        <ul id="ExportByCategoryFilter" class="dropdown-menu keep-open" aria-labelledby="dropdownMenuButton" style="width:200px;z-index:1">
                            <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">Interval</label>
                                        <select class="pull-right select2 form-control" id="ExportByCategoryYearInterval"></select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">Start Year</label>
                                        <input class="form-control" id="ExportByCategoryStartYear" placeholder="Please Choose Start Year" readonly="readonly" style="background:white;">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">End Year</label>
                                        <input class="form-control" id="ExportByCategoryEndYear" placeholder="End Year" readonly="readonly" style="background:white;">
                                    </div>
                                </div>
                            </li>
                            <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-default btn-sm" onclick="ExportByCategorySearch()" style="width:100%;"><i class="fa fa-search"></i>&nbsp;Filter</button>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="container_trend_pie"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 pull-left">
        <div class="card card-chart">
            <div class="card-header">
                <div class="pull-right">
                    <div class="pull-right" style="padding:0px;margin-left:2px;">
                        <button class="btn btn-secondary" id="btn-big-5-commodities-download"><i class="fa fa-file-excel"></i></button>
                    </div>
                    <div class="dropdown pull-right">

                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:5px;">
                            <i class="fa fa-cog"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="ul-big-5-commodities">
                            <form class="form-horizontal" id="form-export-today">
                                <li style="padding:5px;border-bottom:1px solid #ebe6e6;width:200px;">
                                    <div class="input-group col-lg-12 col-xs-12">
                                        <input type="text" class="form-control year required" id="date1-export-type" name="dateCipl" placeholder="Start Date" autocomplete="off">
                                        <div class="input-group-addon cal" style="background:#00C0EF;border-color:#00ACD6;">
                                            <i class="fa fa-calendar" style="color:#FFFFFF;"></i>
                                        </div>
                                    </div>
                                </li>
                                <li style="padding:5px;border-bottom:1px solid #ebe6e6;width:200px;">
                                    <div class="input-group col-lg-12 col-xs-12">
                                        <select class="pull-right select2 form-control required" id="slc-export-type">
                                            <option value=>Sales & Non Sales</option>
                                            <option value="Sales">Sales</option>
                                            <option value="Non Sales">Non Sales</option>

                                        </select>
                                    </div>
                                </li>
                                <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                                    <button class="btn btn-success btn-sm" style="width:100%;"><i class="fa fa-search"></i>&nbsp;Filter</button>
                                </li>
                            </form>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="container_bigest"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 pull-left">
        <div class="card card-chart">
            <div class="card-header">
                <div class="pull-right">
                    <div class="pull-right" style="padding:0px;margin-left:2px;">
                        <button class="btn btn-secondary" onclick="SalesVSNonSalesDownload()"><i class="fa fa-file-excel"></i></button>
                    </div>
                    <div class="dropdown pull-right">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:5px;">
                            <i class="fa fa-th"></i>
                        </button>
                        <ul id="SalesVSNonSalesFilter" class="dropdown-menu keep-open" aria-labelledby="dropdownMenuButton" style="width:200px;z-index:1">
                            <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">Start Year</label>
                                        <input class="form-control" id="SalesVSNonSalesStartYear" placeholder="Please Choose Start Year" readonly="readonly" style="background:white;">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">End Year</label>
                                        <input class="form-control" id="SalesVSNonSalesEndYear" placeholder="End Year" readonly="readonly" style="background:white;">
                                    </div>
                                </div>
                            </li>
                            <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-default btn-sm" onclick="SalesVSNonSalesSearch()" style="width:100%;"><i class="fa fa-search"></i>&nbsp;Filter</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="container_compare_sales"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12 pull-left">
        <div class="card card-chart">
            <div class="card-header">
                <div class="pull-right">
                    <div class="pull-right" style="padding:0px;margin-left:2px;">
                        <button class="btn btn-secondary" onclick="TotalExportDownload()"><i class="fa fa-file-excel"></i></button>
                    </div>
                    <div class="dropdown pull-right">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:5px;">
                            <i class="fa fa-th"></i>
                        </button>
                        <ul id="TotalExportFilter" class="dropdown-menu keep-open" aria-labelledby="dropdownMenuButton" style="width:200px;z-index:1">
                            <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">Year</label>
                                        <input class="form-control" id="TotalExportYear" placeholder="Please Choose Year" readonly="readonly" style="background:white;">
                                    </div>
                                </div>
                            </li>
                            <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-default btn-sm" onclick="TotalExportSearch()" style="width:100%;"><i class="fa fa-search"></i>&nbsp;Filter</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="container"></div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="@Url.Content("~/Scripts.app/EMCS/report/ExportActivity.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/highcharts/highchart.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/highcharts/highcharts-3d.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>
>>>>>>> 639d8d0 (Intial commit)
}