@Styles.Render("~/Content/EMCS/Custom.css")
@Styles.Render("~/Content/EMCS/dropzone.css")
@Styles.Render("~/Content/EMCS/SweetAlert/sweetalert2.min.css")
<div class="row">
    <div class="col-xs-12 table-responsive">
        <table class="table" data-toolbar=".toolbarCipl" id="tableRequestForChangeDetail"></table>
        <input type="hidden" id="RFCId" value="@ViewBag.RFCId" />
        <input type="hidden" id="formId" value="@ViewBag.FormId" />
        <input type="hidden" id="FormType" value="@ViewBag.FormType" />
    </div>
    <div class="col-xs-12">
        <p><b>Reason :- </b></p><p><b id="changehistory"></b></p>

        <div class="col-md-6 pull-right">
            <div class="form-group pull-right" style="margin-top:20px">
                <div class="" role="group">
                    <button type="button" class="btn btn-success" id="btnApproveChangeHistory"><i class="fa fa-paper-plane"></i> Approve change</button>
                    <button type="button" class="btn btn-danger" id="btnRejectChangeHistory"><i class="fa fa-times"></i> Reject</button>
                    <a href="/emcs/mytask" class="btn btn-primary"><i class="fa fa-times"></i> Cancel</a>
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts
{
    <script src="@Url.Content("~/Scripts.app/EMCS/function.cshtml.js")"></script>
    <script src="@Url.Content("~/Content/EMCS/SweetAlert/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>
    <script src="@Url.Content("~/Content/EMCS/DropZone/dropzone.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/mytask/TaskRequestForChangeDetail.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>
}