
@{
<<<<<<< HEAD
    Layout = "~/Views/EMCS/_Layout.cshtml";
=======
>>>>>>> 639d8d0 (Intial commit)
    ViewBag.Title = "Shipping Instruction List";
}

@using System.Web.Mvc
<<<<<<< HEAD
@Styles.Render("~/Content/EMCS/Custom.css")
=======
>>>>>>> 639d8d0 (Intial commit)
<style type="text/css">
    .form-horizontal .control-label {
        text-align: left !important;
    }
<<<<<<< HEAD

    .dropdown-menu.dropdown-menu-right {
        left: 0 !important;
    }

    .btn.dropdown-toggle:after, .navbar .navbar-nav > a.btn.dropdown-toggle:after {
        margin-left: 0 !important;
    }
=======
>>>>>>> 639d8d0 (Intial commit)
</style>
@{
    if (ViewBag.AllowDelete)
    {
        <input type="hidden" name="AllowDelete" id="AllowDelete" class="form-control" value="True">
    }

    if (ViewBag.AllowUpdate)
    {
        <input type="hidden" name="AllowUpdate" id="AllowUpdate" class="form-control" value="True">
    }

<<<<<<< HEAD

}
@*<button type="button" class="btn btn-info information" title="Info"><i class="fa fa-search"></i></button>*@
<a data-modal="" href="/EMCS/ShippingInstructionView?cargoid=@ViewBag.Id" class="information" style="display:none;">
    <i class="fa fa-edit"></i> ShippingInstructionView
</a>
=======
}
>>>>>>> 639d8d0 (Intial commit)
<div class="row">
    <div class="col-md-12">
        <div class="box box-warning">
            @*<div class="box-header"><h3 class="box-title">@ViewBag.Title</h3></div>*@
            <form role="form">
                <div class="box-body">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="toolbar">
<<<<<<< HEAD
                                @*@{
                                                            if (ViewBag.AllowCreate)
                                                            {
                                                                <a class="btn btn-warning" href="/EMCS/ShippingInstructionForm" id="btnCreate">
                                                                    <i class="fa fa-plus"></i> Add Recipient
                                                                </a>
                                                            }
                                                        }
                                                        @*<div class="fa-pull-left" id="mySearch" style="padding-right:2px">
                                        <input name="searchText" class="form-control" type="text" placeholder="Search..." style="height: 32px;">
                                    </div>*@
                            </div>
                            @*<table class="table table-bordered" id="tableShippingInstruction"></table>*@
                            <table class="table table-bordered" data-toolbar=".toolbarCipl" id="tbl-task-si"></table>
=======
                                @{
                                    if (ViewBag.AllowCreate)
                                    {
                                        <a class="btn btn-warning" href="/EMCS/ShippingInstructionForm" id="btnCreate">
                                            <i class="fa fa-plus"></i> Add Recipient
                                        </a>
                                    }
                                }
                                @*<div class="fa-pull-left" id="mySearch" style="padding-right:2px">
                                        <input name="searchText" class="form-control" type="text" placeholder="Search..." style="height: 32px;">
                                    </div>*@
                            </div>
                            <table class="table table-bordered" id="tableShippingInstruction"></table>
>>>>>>> 639d8d0 (Intial commit)
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<<<<<<< HEAD
<div id="InputInstruction" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header mytask">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <form id="FormUploadSI">
                <div class="modal-body">
                    <div class="form-group hide">
                        <label class="control-label col-lg-4 col-xs-4">ID</label>
                        <div class="input-group col-lg-8 col-xs-8">
                            <input type="text" class="form-control" id="idCL" name="idCL" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-4 col-xs-4">Description</label>
                        <div class="input-group col-lg-8 col-xs-8">
                            <input type="text" class="form-control" id="descriptionSI" name="descriptionSI">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-4 col-xs-4">Special Instruction</label>
                        <div class="input-group col-lg-8 col-xs-8">
                            <input type="text" class="form-control" id="specialInstructionSI" name="specialInstructionSI">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-4 col-xs-4">Document Required</label>
                        <div class="input-group col-lg-8 col-xs-8">
                            <div id="UploadDocumentSI" class="dropzone"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="SaveDocumentSI" type="button" class="btn btn-primary"><i class="fa fa-plane"></i>&nbsp;Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    @*<script src="@Url.Content("~/Scripts.app/EMCS/transaction/ShippingInstruction.cshtml.js")"></script>*@
    <script src="@Url.Content("~/Scripts.app/EMCS/mytask/TaskSi.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>

=======
@section scripts
{
    <script src="@Url.Content("~/Scripts.app/EMCS/transaction/ShippingInstruction.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>
>>>>>>> 639d8d0 (Intial commit)
}